body {
    font-family: 'Roboto', sans-serif;
    color: #545E6C;
    background: #1C1E20;
    font-size: 14px;
    padding: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

p {
    line-height: 1.5;
}

.box-color1 {
    background-color: #EBA39E;
}

.box-color2 {
    background-color: #EDE89A;
}

.box-color3 {
    background-color: #9EEBA1;
}

.box-color4 {
    background-color: #9EEBBF;
}

.box-color5 {
    background-color: #9ED9EB;
}

.box-color6 {
    background-color: #9EB3EB;
}

.box {
    width: 30%;
    height: 150px;
    float: left;
    margin: 25px 15px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}

.box h3 {
    font-family: 'Didact Gothic', sans-serif;
    font-weight: normal;
    text-align: center;
    padding-top: 45px;
    color: #fff;

    width: 87%;
    height: 87%;
    margin-left: 6%;
    border: 2px dashed #F7EEEE;
    border-radius: 5px;
}

.box h3 a {
    text-decoration: none
}

.box:before, .box:after {
    position: absolute;
    content: "";
    bottom: 12px;
    left: 15px;
    top: 80%;
    width: 45%;
    background: #9B7468;
    z-index: -1;
    -webkit-box-shadow: 0 20px 15px #9B7468;
    -moz-box-shadow: 0 20px 15px #9B7468;
    box-shadow: 0 20px 15px #9B7468;
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    transform: rotate(-6deg);
}

.box:after {
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    transform: rotate(6deg);
    right: 15px;
    left: auto;
}